@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #E8F1F2; 
    justify-content: flex-start;
    display: flex;
}

/* headerbar options: */
.header-bar {
    width: 100%; min-height: 7rem; 
    max-height: 12%;
    left: 0px; top: 0px; 
    position: fixed;
    align-content: center;
    background-color: #E8F1F2;
    border-bottom: 1px #c2c9ca solid
}

/* headerbar->LOGO options: */
.header-bar .logo {
    left: 4rem; top: 2.5rem;
    position: fixed;
} 
.header-bar .logo .title {
    left: 6rem; top: 0px;
    position: absolute;
    color: #162731;
    font-size: 20pt;
    font-weight: 800;
    letter-spacing: 1pt;
    word-wrap: break-word
}

/* headerbar->ACCOUNT options: */
.header-bar .account {
    width: 24rem; height: 3.75rem; 
    right: 2%; top: 1.625rem;
    position: fixed;
    justify-content: flex-end;
    display: inline-flex;
    gap: 2.5rem; 
}

/* headerbar->account->USER options: */
.header-bar .account .user {
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    gap: 1.5rem;
}
.header-bar .account .user .txt {
    color: #2F2E41; 
    font-size: 22px; 
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.21px;
    word-wrap: break-word
}
#welcome_text_002 {
    font-weight: 500;
}

/* headerbar->account->ACTION options: */
.header-bar .account .action {
    justify-content: flex-start; 
    align-items: center; gap: 0.8rem;
    display: flex;
}
.header-bar .account .action a {
    text-decoration: none;
}
.header-bar .account .action span {
    text-align: center; color: #c51e40; 
    font-size: 14pt; 
    font-weight: 500; 
    letter-spacing: 1px;
    transition: 0.1s;
}
.header-bar .account .action img {
    width: 1.5rem;
    position: relative; 
    transform: rotate(180deg);
    transition: 0.1s;
}

/* ANIMATIONS => headerbar->account->ACTION */
.header-bar .account .action:hover span {
    transition: 0.2s; font-size: 15pt;
    text-decoration: underline;
}

.header-bar .account .action:active {
    transition: 0.2s linear;
    filter: brightness(80%);
}
.header-bar .account .action:active span {
    transition: 0.2s linear;
    font-size: 18px;
}
.header-bar .account .action:active img {
    transition: 0.2s linear;
    width: 20px;
}

/* ================ */

/* SIDEBAR options: */
.sidebar {
    font-size: 1.5rem; font-weight: 100;
    font-family: Montserrat;
    min-height: 110vh;
    max-width: 24rem;
    width: 90px;
    background-color: #162731;
    transition: 0.3s ease-in-out;
}

/* sidebar->MENU options: */
.sidebar .menu {
    margin-left: 0.5rem;
    padding-top: 9rem;
}

/* sidebar->menu->MENU-ITEM options: */
.sidebar .menu .menu-item {
    display: flex; width: 100%;
    padding: 1rem 1.5rem; margin-bottom: 0.15rem;
    align-items: center; color: #FFFFFF;
    font-weight: 400; text-decoration: none;
    border-top-left-radius: 4.2rem;
    border-bottom-left-radius: 4.2rem;
    transition: 0.3s linear;
}
.sidebar .menu .menu-item img {
    width: 1.9rem; height: 1.9rem;
}
.sidebar .menu .menu-item span {
    visibility: hidden;
    opacity: 0;
    padding-left: 12.5%;
    transition: 0.1s ease-out;
}
.sidebar .menu .menu-item.is-active img {
    filter: brightness(5%);
}

/* ANIMATIONS => sidebar */
.sidebar:hover {
    /* Hover the mouse over the sidebar: */
    transition: 0.3s ease-out;
    width: 16rem;
}
.sidebar:hover .menu .menu-item span {
    /* Hover the mouse over the sidebar (span): */
    transition: 0.3s ease-out;
    opacity: 1;
    visibility: visible;
}

/* ANIMATIONS => sidebar->menu->MENU-ITEM */
.sidebar .menu .menu-item.is-active,
.sidebar .menu .menu-item.is-active:hover {
    /* Active tab: */
    color: #111111;
    font-weight: 500;
    background-color: #FFA726;
}
.sidebar .menu .menu-item:hover {
    /* Hover tab: */
    transition: 0.2s ease-out;
    background-color: #07151c;
}

.sidebar .menu .menu-item:active {
    /* Click on tab: */
    transition: 0.025s linear;
    text-decoration: underline;
}
.sidebar .menu .menu-item:active span {
    /* Click on tab (text): */
    transition: 0.025s linear;
    font-size: 90%;
}
.sidebar .menu .menu-item:active img {
    /* Click on tab (image): */
    transition: 0.025s linear;
    width: 27px; height: 27px;
}

/* ================ */

/* MAIN-SECTION options: */
.main-section {
    margin-left: 11rem; 
    margin-top: 11rem;
    align-self: normal;
    position: static;
}
.main-section .line {
    width: 75vw;
    margin-bottom: 3rem;
    border: 1px #AAAAAA solid;
}

/* main-section->HEADING options: */
.main-section .heading {
    width: 75vw;
    display: inline-flex;
    justify-content: space-between;
}
.main-section .heading .title {
    left: 16px; 
    color: #1B98E0;
    font-size: 32px;
    font-family: Montserrat; 
    font-weight: 700;
}
.main-section .heading .kcal_progression {
    background-color: #D9D9D9;
    min-width: 260px;
    width: 347px;
    height: 24px;
    margin-top: 20px;
    margin-left: 4rem;
    border-radius: 15px;
}
#filledKcalProg {
    background-color: #1B98E0;
    margin: 0;
    min-width: 0%;
    width: 50%;
    font-weight: 500;
    font-size: 12pt;
    line-height: 26px;
}
#filledKcalProg span {
    color: white;
    margin-left: 40%;
}

/* main-section->MEAL options: */
.main-section .meal {
    display: inline-flex;
}
.main-section .meal .title {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 30px;
    font-weight: 700;
}
.main-section .meal .box {
    height: 489px;
    width: 290px;
    background-color: #162731;
    border-radius: 20px;
    color: white;
}
.main-section .meal .image {
    width: 420px;
    margin-left: -65px;
    margin-top: 40px;
}

/* main-section->meal->INFORMATION options: */
.main-section .meal .information .title {
    margin-left: 4rem;
    font-weight: 700;
    font-size: 24pt;
}
.main-section .meal .information .title .checkbox {
    height: 24px;
    width: 30px;
    background-color: #000000;
    border-radius: 40px;
}

/* main-section->meal->information->SLIDER options: */
.main-section .meal .information .slider {
    width: 600px;
    height: 400px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 30px;
    margin: 2rem 0rem 0rem 10rem;
}

/* main-section->meal->information->slider->SLIDES options: */
.main-section .meal .information .slider .slides {
    display: flex;
    width: 400%;
    height: 400px;
    font-weight: 500;
    font-size: 16pt;
}
.main-section .meal .information .slider .slides input {
    display: none;
}
.main-section .meal .information .slider .slides span {
    font-weight: 600;
}

/* main-section->meal->information->slider->slides->SLIDE options: */
.information .slider .slides .slide {
    width: 25%;
}
.information .slider .slides .slide p {
    padding: 1.5rem;
}
.information .slider .slides .slide ul {
    padding: 0 3rem;
}
.information .slider .slides .slide h3 {
    margin-top: -1.5rem;
    text-align: center;
}
.information .slider .slides .slide iframe {
    margin-top: 1rem;
    margin-left: 55px;
}
.information .slider .slides .slide article {
    margin-top: 3rem;
}

.btn-container {
    display: table;
    margin: auto;
    width: 550px;
}
.btn-container .btn {
    width: 224px; height: 80px;
    margin: 0 0 18px 18px;
    border: none;
    border-radius: 16px;
    background-color: #000000B2;
    color: #FFF;
    font-size: 14pt;
    font-weight: 600;
}

/* main-section->meal->information->slider->slides->navigation-auto options: */
.navigation-auto {
    position: absolute;
    width: 600px;
    margin-top: 365px;
    display: flex;
    justify-content: center;
}
.navigation-auto div {
    border: 2px solid #1B98E0;
    visibility: hidden;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .25s;
}
.navigation-auto div:not(:last-child) {
    margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #1B98E0;
    visibility: visible;
}

/* main-section->meal->information->slider->navigation-manual options: */
.main-section .meal .information .slider .navigation-manual {
    position: absolute;
    width: 600px;
    margin-top: -35px;
    display: flex;
    justify-content: center;
}
.main-section .meal .information .slider .navigation-manual .manual-btn {
    border: 2px solid #1B98E0;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .25s;
}

.main-section .meal .information .slider .navigation-manual .manual-btn:not(:last-child) {
    margin-right: 30px;
}
.main-section .meal .information .slider .navigation-manual .manual-btn:hover {
    background-color: #1B98E0;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -25%;
}
#radio3:checked ~ .first {
    margin-left: -50%;
}

/* main-section->TABLE options: */
.main-section .inline-cards {
    display: flex;
    justify-content: space-between;
    width: 75vw; min-width: 1100px;
}
.main-section .inline-cards .card {
    width: 250px; height: 250px;
    background-color: rgba(0, 0, 0, 0.70);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.30);
    color: white;
    margin: 5rem 0rem;
    border-radius: 20px;
}
.main-section .inline-cards .card img {
    vertical-align: middle;
    width: 100px; height: 100px;
    margin: -1rem 0 0rem -1rem;
    border-radius: 100px;
}
.main-section .inline-cards .card span {
    margin-left: 0.75rem;
    font-size: 15pt;
    font-weight: 600;
}
.main-section .inline-cards .card .description {
    margin: 1rem 0 0 2rem;
    max-width: 200px;
}