@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #E8F1F2; 
    justify-content: flex-start;
    display: flex;
}

/* headerbar options: */
.header-bar {
    width: 100%; min-height: 7rem; 
    max-height: 12%;
    left: 0px; top: 0px; 
    position: fixed;
    align-content: center;
    background-color: #E8F1F2;
    border-bottom: 1px #c2c9ca solid
}

/* headerbar->LOGO options: */
.header-bar .logo {
    left: 53px; top: 39px;
    position: fixed;
} 
.header-bar .logo .title {
    left: 95px; top: 0px;
    position: absolute;
    color: #162731;
    font-size: 20pt;
    font-weight: 800;
    letter-spacing: 1pt;
    word-wrap: break-word
}

/* headerbar->ACCOUNT options: */
.header-bar .account {
    width: 500px; height: 60px;
    right: 2%; top: 26px;
    position: fixed;
    justify-content: flex-end;
    align-items: center; gap: 50px;
    display: inline-flex
}

/* headerbar->account->USER options: */
.header-bar .account .user {
    justify-content: flex-start;
    align-items: center; gap: 22px;
    display: flex
}
.header-bar .account .user .txt {
    color: #2F2E41; 
    font-size: 22px; 
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.21px;
    word-wrap: break-word
}
#welcome_text_002 {
    font-weight: 500;
}

/* headerbar->account->ACTION options: */
.header-bar .account .action {
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    display: flex;
}

.header-bar .account .action a {
    text-decoration: none;
}

.header-bar .account .action span {
    text-align: center;
    color: #c51e40;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.1s;
}

.header-bar .account .action img {
    width: 24px;
    position: relative;
    transform: rotate(180deg);
    transition: 0.1s;
}

/* ANIMATIONS => headerbar->account->ACTION */
.header-bar .account .action:hover span {
    transition: 0.2s;
    font-size: 20px;
    text-decoration: underline;
}

.header-bar .account .action:active {
    transition: 0.2s linear;
    filter: brightness(80%);
}
.header-bar .account .action:active span {
    transition: 0.2s linear;
    font-size: 18px;
}
.header-bar .account .action:active img {
    transition: 0.2s linear;
    width: 20px;
}

/* ================ */

/* SIDEBAR options: */
.sidebar {
    font-size: 1.5rem; font-weight: 100;
    font-family: Montserrat;
    min-height: 110vh;
    max-width: 24rem;
    width: 90px;
    background-color: #162731;
    transition: 0.3s ease-in-out;
}

/* sidebar->MENU options: */
.sidebar .menu {
    margin-left: 0.5rem;
    padding-top: 9rem;
}

/* sidebar->menu->MENU-ITEM options: */
.sidebar .menu .menu-item {
    display: inline-flex; width: 100%;
    padding: 1rem 1.5rem; margin-bottom: 2.5px;
    align-items: center; color: #FFFFFF;
    font-weight: 400; text-decoration: none;
    border-top-left-radius: 66px;
    border-bottom-left-radius: 66px;
    transition: 0.3s linear;
}
.sidebar .menu .menu-item img {
    width: 30px;
    height: 30px;
}
.sidebar .menu .menu-item span {
    visibility: hidden;
    opacity: 0;
    padding-left: 12.5%;
    transition: 0.1s ease-out;
}
.sidebar .menu .menu-item.is-active img {
    filter: brightness(5%);
}

/* ANIMATIONS => sidebar */
.sidebar:hover {
    /* Hover the mouse over the sidebar: */
    transition: 0.3s ease-out;
    width: 253px;
}
.sidebar:hover .menu .menu-item span {
    /* Hover the mouse over the sidebar (span): */
    transition: 0.3s ease-out;
    opacity: 1;
    visibility: visible;
}

/* [SUSPENDED] ANIMATIONS => sidebar->opener->BUTTON
.sidebar .opener button:hover {
    // Hover menu opener:
    transition: 0.1s ease-out;
    background-color: #07141B;
}

.sidebar .opener button:active { 
    // Click menu opener:
    transition: 0.05s linear;
    background-color: #33505f;
}
.sidebar .opener button:active img { 
    // Click menu opener (image):
    transition: 0.05s linear;
    width: 15px; height: 15px;
} */

/* ANIMATIONS => sidebar->menu->MENU-ITEM */
.sidebar .menu .menu-item.is-active,
.sidebar .menu .menu-item.is-active:hover {
    /* Active tab: */
    color: #111111;
    font-weight: 500;
    background-color: #FFA726;
}
.sidebar .menu .menu-item:hover {
    /* Hover tab: */
    transition: 0.2s ease-out;
    background-color: #07151c;
}

.sidebar .menu .menu-item:active {
    /* Click on tab: */
    transition: 0.025s linear;
    text-decoration: underline;
}
.sidebar .menu .menu-item:active span {
    /* Click on tab (text): */
    transition: 0.025s linear;
    font-size: 90%;
}

.sidebar .menu .menu-item:active img {
    /* Click on tab (image): */
    transition: 0.025s linear;
    width: 27px;
    height: 27px;
}

/* ================ */

/* .box-main{
    height: 849px;
    width: 1016px;
    ali
    border: solid 1px black;
} */

/* MAIN-SECTION options: */
.main-section {
    margin-left: 10rem;
    margin-top: 10rem;
    align-self: normal;
    position: static;
}
.main-section .line {
    width: 75vw;
}

/* main-section->HEADING options: */
.main-section .heading {
    width: 75vw;
    display: inline-flex;
    justify-content: space-between;
}
.main-section .heading .title {
    font-family: 'Montserrat';
    font-weight: 700 !important;
    color: #1B98E0;
    font-size: 32px;
}
.main-section .heading .kcal_progression {
    background-color: #D9D9D9;
    width: 347px;
    height: 24px;
    margin-top: 20px;
    margin-left: 4rem;
    border-radius: 15px;
}
#filledKcalProg {
    background-color: #1B98E0;
    margin: 0;
    width: 50%;
    font-weight: 500;
    font-size: 12pt;
    line-height: 26px;
}
#filledKcalProg span {
    color: white;
    margin-left: 40%;
}

/* main-section->MAIN-CONTENT options: */
.main-section .main-content {
    margin-top: 65px;
}

/* main-section->main-content->MEAL options: */
.main-section .main-content .meal {
    display: inline-flex;
}
.main-section .main-content .meal .title {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 30px;
    font-weight: 700;
}
.main-section .main-content .meal .box {
    height: 489px;
    width: 290px;
    background-color: #162731;
    border-radius: 20px;
    color: white;
}
.main-section .main-content .meal .image {
    width: 420px;
    margin-left: -65px;
    margin-top: 40px;
}

/* main-section->main-content->meal->CAROUSEL options: */
.main-section .main-content .meal .carousel .title {
    text-align: left;
    margin-left: 6rem;
    font-weight: 700;
    font-size: 24pt;
}
.main-section .main-content .meal .carousel .title .checkbox{
    height: 24px;
    width: 30px;
    background-color: #000000;
    border-radius: 20px;
}

.main-section .main-content .meal .carousel .description {
    background-color: #ffffff;
    border-radius: 10px;
    height: 360px; width: 550px;
    padding: 1.5rem;
    font-weight: 500;
    font-size: 16pt;
    margin: 4rem 0rem 0rem 6rem;
}
.main-section .main-content .meal .carousel .description span {
    font-weight: 600;
}

.main-section .main-content .meal .carousel .description .list {
    margin-left: 25px;
    margin-top: 30px;
}

/* main-section->main-content->TABLE options: */
.main-section .main-content .table {
    display: flex;
    justify-content: space-between;
    width: 75vw; min-width: 960px;
}
.main-section .main-content .table .table-item {
    width: 200px; height: 200px;
    background-color: rgba(0, 0, 0, 0.70);
    margin-top: 60px;
    border-radius: 20px;
}
